.pageContainer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.pageContainer h1 {
    font-size: 4rem;
    color: var(--color-primary);
    margin: 0;
}

.pageContainer p {
    font-size: 1.5rem;
    color: var(--color-gray-dark);
}