.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.dumbbell {
    display: flex;
    align-items: center;
    gap: 4px;
    animation: roll 1.5s infinite ease-in-out;
}

.weight {
    width: 12px;
    height: 30px;
    background-color: var(--color-black);
    border-radius: 4px;
    border: 2px solid var(--color-primary);
}

.bar {
    width: 40px;
    height: 8px;
    background-color: var(--color-gray-medium);
    border-radius: 2px;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}